* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

header {
  padding: 1rem;
  background-image: url("../image/car-bg.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
  min-height: calc(100vh - 102px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .burger {
  display: none;
}

header .content {
  margin: auto;
  padding: 0 1rem;
  font-size: 1.5rem;
  max-width: 100%;
}

header .content h1 {
  color: #00c2ff;
  margin-bottom: 0;
}

header .content p {
  margin-bottom: 2rem;
}

header .content .highlight {
  background-color: #00c2ff;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

header nav .logo {
  font-size: 2rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

header nav li a {
  color: #fff;
  padding: 1rem;
  text-decoration: none;
}

header nav li .selected {
  font-weight: bold;
}

header nav li .highlight {
  background-color: #00c2ff;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
}

footer {
  background-color: #000;
  color: #fff;
  height: 100px;
  padding: 2rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer strong {
  color: #00c2ff;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  header {
    position: relative;
  }
  header .burger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
  }
  header .container .logo {
    font-size: 1.8rem;
  }
  header .content {
    margin: 0 2rem;
    font-size: 1.2rem;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
  nav ul li:not(:last-child) {
    margin-bottom: 1rem;
  }
  nav ul.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  nav .highlight {
    display: none;
  }
  footer {
    height: auto;
  }
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer ul li {
    margin: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  header {
    position: relative;
    z-index: 9;
  }
  header:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  header .container .logo {
    font-size: 1.2rem;
  }
  header .content {
    margin: 5rem 2rem 1rem 0rem;
    font-size: 1rem;
  }
  header .content a {
    padding: 0.5rem;
  }
  footer ul li {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */